*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Target-folder
target/
springboot-tutorial/SpringBootNr1/target/
springboot-tutorial/SpringBootNr2/target/
springboot-tutorial/SpringBootNr3/target/

# Javascript
mangekamp-container/src/main/resources/static/bower_components
mangekamp-container/src/main/resources/static/node_modules
mangekamp-container/src/main/resources/static/node
mangekamp-container/src/main/resources/static/built

# IDEA files
.idea
*.iml

# Script files
*.sh
